html{
   font-size:7px;
   line-height: 1.3;
}
h1{
   font-family:'Courier New', Courier, monospace;
   color: white;
   text-align: center;
   margin-right: 20px;
   margin-left: 20px;
   font-size: 35px;
}
h3{
   font-family:'Courier New', Courier, monospace;
   font-size: 25px;
   color: darkgreen;
   margin-left: 20px;
   margin-bottom: 5px;
   text-align: center;
}
.header-box{
   background-color: green;
   margin-right: auto;
   margin-left: auto;
   align-content: center;
   height: fit-content;
   width:80%;
}
p{
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
   color: white;
}
.buttons{
   margin-right: auto;
   margin-left:auto;
   width: 80%;
   height: fit-content;
}
.next-site{
   background-color: green;
   margin-right: 20px;
   margin-left: 20px;
   vertical-align: top;
   display: inline-block;
   text-align: center;
   width: calc(50% - 50px);
}
p1{
   font-family: 'Courier New', Courier, monospace;
   font-size: 13px;
   color: white;
   text-align: center;
}
.projects{
   background-color: darkgreen;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   align-content: center;
   width: calc(60% - 20px);
   height: 100%;
   display: inline-block;
}
a{
   text-decoration: none;
}
.project-list{
   width: fit-content;
   height: 40px;
   background-color: darkgreen;
   vertical-align: middle;
}
.project-list:hover{
   background-color: lightgreen;
   color: darkgreen;
   margin-right: 20px;
}
.img-box{
   display: inline-block;
   width: calc(40% - 20px);
   height: auto;
}
.img{
   width: 100%;
   height: 100%;
   text-align: center;
}
.body{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   align-content: middle;
}