#introimg{
    width: 600px;
    height: 400px;
    margin-top: 10px;
    position: absolute;
    align-content: center;
    margin-left: 10px;
    margin-right: auto;
    
}
#note{
    margin-right: 10px;
    margin-left:auto;
}  
