html{
    font-size: 7px;
    line-height: 1.3;
}
body{
    font-size: 0;
}
@font-face {
    font-family: "chunko";
    src: url(../fonts/Chunko\ Bold\ Demo.otf);
}
@font-face {
    font-family: "jakusty";
    src: url(../fonts/Jakusty\ Display.otf);
}
@font-face {
    font-family: "yuanti";
    src: url(../fonts/Yuanti-SC-Regular.ttf);
}
p1{
    font-family: "yuanti";
    font-size: 2rem;
    margin-top: 1rem;
    /* margin-left: 5%; */
}
h1{
    font-family: "chunko";
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}
h2{
    font-family: "jakusty";
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
h3{
 font-family: "jakusty";
 font-size: 7rem;
 margin-top: 0;
 /* margin-bottom: 50rem; */
 /* left: 50px; */
}
.headerdiv{
    width: 100%;
    height: 75px;
    background-color: rgb(223, 36, 83);
    color: white;
    text-align: center;
    /* justify-content: center; */
    margin-top: 0;
    margin-bottom: 8rem;
    vertical-align: middle;
}
.block{
    border: 5px solid black;
    box-sizing: border-box;
    display: inline-block;
    width: calc(33.333% - 2.6rem);
    height: 600px;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-bottom: 2.6rem;
    vertical-align: top;
}
/* @media all and (max-width:1500px) {
    h2{
        font-size: 4.5rem;
    }
}
@media all and (max-width:1350px) {
    h2{
        font-size: 4rem;
    }
    h1{
        font-size: 2.75rem;
    }
}
@media all and (max-width:1200px) {
    h2{
        font-size: 3.5rem;
    }
    /* h1{

    } */
@media all and (max-width:1060px) {
    .block{
        width: calc(33.333% - 2.6rem);
        height: 600px;
    }
    h2{
        font-size: 4rem;
    }
}
@media all and (max-width:900px) {
    .block{
        width: calc(50% - 2.6rem);
        height: 550px;
    }
    h2{
        font-size: 3.5rem;
    }
}
@media all and (max-width: 550px){
    .block{
        width: calc(100% - 2.6rem);
        height: 400px;
    }
}
.blockHeader{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-left: 2.5%;
}
.subhead{
    width: 100%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 0;
}
.blockDesc{
    width: calc(75% - 2.6rem);
    height: auto;
    margin-left: 5%;
    display: inline-block;
}
.price{
    width: calc(25% - 2.6rem);
    height: auto;
    margin-left: 1.3rem;
    display: inline-block;
    text-align: right;
}
.img{
    width: calc(60% - 1.3rem);
    height: auto;
    text-align: center;
}
.hotPink{
    color: rgb(223, 36, 83);
}
.pink{
    color: rgb(242, 165, 186);
}
.yellow{
    color: rgb(249, 203, 124);
}
.green{
    color: rgb(20, 97, 75);
}
