html{
    font-size:7px;
    line-height: 1.3;
}
@font-face {
    font-family: "menu-title";
    src: url(../fonts/CsbodegadrawnRegularDemo-E405r.otf), format(".otf");
}
@font-face {
    font-family: "menu-sub";
    src: url(../fonts/Rainbow-3zAEX.ttf), format(".ttf");
}
body{
    margin-right: 0px;
    margin: calc(2rem * 1.3);
    font-size: 0;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin-left: 15px;
    margin-right: 15px;
    line-height: normal;
}
p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    margin-right: 15px;
}
h{
    font-size: 10rem;
    font-family: "menu-title";
    color: rgb(221, 71, 49);
}
h1{
    font-size: 3.65rem;
    font-family: "menu-title";
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
h2{
    font-family: "menu-sub";
    font-size: 5rem;
    /* line-height: .5rem; */
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(221, 71, 49);
}
.master-div{
    /* box-sizing: border-box; */
    /* border: 5px solid black; */
    width:calc(50% - 2rem * 1.3);
    min-width: 700px;
    max-width: 700px;
    height: 1600px;
    align-self: center;
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    position: relative;
    overflow: visible;

} 
.menu-grid{
    box-sizing: content-box;
    /* background-color: aquamarine; */
    /* border: 1px solid black; */
    width: 50%;
    height: 75%;
    display: inline-block;
    vertical-align:top;
    box-sizing: border-box;
    gap: 5px;
    position: relative;
}
.menu-head{
    /* box-sizing: border-box; */
    /* background-color: grey; */
    width:100%;
    height: 15%;
    display: inline-block;
    margin-right: calc(2rem * 1.3);
    vertical-align: top;
    position: relative;
}
.logo-img{
    width: 25%;
    height: 50%;
    display: inline-block;
    position:absolute;
    bottom: 0;
    left: 10px;
}
.head-text{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    font-size: 3rem;
    /* background-color: white; */
    padding: 0;
    position: absolute;
    bottom: 0;
    margin-left: 40%;
}
.menu-content{
    height: 100%;
    width: 100%;
    overflow:visible;
    /* display: flex; */
    position: absolute;
    vertical-align: top;
    /* text-align: center; */
    justify-content: center;
}
.menu-text{
    font-size:7rem;
    height: fit-content;
    color: black;
    background-color: white;
    font-family: "menu-sub";
    /* position: absolute; */
    /* top: 0; */
    left: 30%;
    text-align: left;
    bottom: 10px;
    margin-left: 10px;
}
.img{
    display: block;
    margin: 0 auto;
    /* width: 100px; */
    text-align: center;
}
.subtitle{
   color: black;
   top: 0;
   bottom: 0;
   margin-left: 15px;
}
.subtitle2{
    margin-left: 15px;
    display: inline-block;
    width: 75%;
}
.menu-body{
    display: inline-block;
    width: 80%;
    height: fit-content;
    margin-top: 1px;
    margin-bottom: 1px;
}
.price{
    display: inline-block;
    width: calc(20% - 15px);
    height: fit-content;
    margin-right: 0;
    text-align: right;
}
.menu-text2{
    display: inline-block;
    vertical-align:bottom;
    margin-left: 10px;
}
.img-fries{
    display: inline-block;
}
.img-cookie{
    text-align: right;
}
.extras{
    margin-left: 15px;
    display: inline-block;
    width: 75%;
}
@media screen and (max-width: 3000px){
    .master-div{
        width:calc(50% - 2rem * 1.3);
    }
    .block-div{
        width: calc(25% - 2rem * 1.3);
    }
}
/* @media screen and (max-width: 1250px){
    .master-div{
        width: calc(65% - 2rem * 1.3);
    }
    .block-div{
        width: calc(17.5% - 2rem * 1.3);
    }
}
@media screen and (max-width: 850px){
    .master-div{
        width: calc(80% - 2rem * 1.3);
    }
    .block-div{
        width: calc(10% - 2rem * 1.3);
    }
}*/
/* @media all and (max-width: 550px){
    .master-div{
        width: calc(100% - 2rem * 1.3);
    }
    .block-div{
        width: 0%;
        height: 0%;
    }
}  */
a{
    text-decoration: none;
    color: rgb(221, 71, 49);
}
a :visited{
    color: rgb(221, 71, 49);
}
/* .block-div{
    box-sizing: border-box;
    height: 300px;
    border: solid black 5px;
    width: calc(25% - 2rem * 1.3);
    margin-right:calc(2rem * 1.3);
    display: inline-block;
    margin-bottom:calc(2rem * 1.3);
    position: relative;
} */